body {
    font-family: Arial, Helvetica, sans-serif;
}

table, table, tr {
    width: 100%;
}

th, td{
    width: 14%;
    text-align: center;
}

td {
    height: 100px; 
    border: 2px solid black;
}

.sunday {
    color: red;
}

.reminder-add-input {
    height: 50px;
    font-size: 25px;
    width: 31%;
    margin: 0 1%;
    margin-top: 100px;
}

.reminder-view-input {
    height: 50px;
    font-size: 25px;
    width: 31%;
    margin: 0 1%;
    margin-top: 10px;
}

::placeholder {
    color: black;
}

.days label {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 75px;
    padding-top: 20%;
    font-size: 20px;
}

#reminder-ul {
    list-style: none;
    color: black;
    width: 21.4%;
    margin-top: 20px;
    padding-right: 15px;
    position: fixed;
    text-align: center;
}